<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>partconvolve~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D01CCC60486CAD60068D4B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B80EB1351124451400EED53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B80EB1471124451700EED53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
