<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AH Externals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>convolution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>descriptors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>dynamicdsp suite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>gesture suite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>ibuffer suite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>miscellaneous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>random numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>sample accurate library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>threading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>utility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>vMSP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B82F10231465F901007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F10751465F905007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F10C71465F907007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F11191465F95E007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F116B1465F961007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F11BE1465F991007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F12101465F993007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F12621465F9C0007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F12B41465F9C3007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F13061465F9F5007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F13191465FA13007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82F13231465FA18007FAC6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8B56C2C1465ED6400FE85B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
