name: build-github
on: [push]
jobs:
  deploy:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'Cycling74/max-sdk-base'
          path: "../../AHarker_Externals"
      - uses: actions/checkout@v3
      - run: xcodebuild -project 'AH Externals.xcodeproj' -scheme 'AH Externals' -destination 'platform=OS X,arch=x86_64' -configuration Deployment build CODE_SIGNING_ALLOWED=YES