name: build-github
on: [push]
jobs:
  deploy-win:
    runs-on: win-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'Cycling74/max-sdk-base'
          path: "max-sdk-base"
      - uses: actions/checkout@v3
        with:
          path: "ah-externals"
      #- run: xcodebuild -project 'ah-externals/AH Externals.xcodeproj' -scheme 'utility' -destination 'platform=OS X,arch=x86_64' -configuration Deployment build CODE_SIGNING_ALLOWED=YES
  deploy-mac:
    runs-on: macos-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - uses: actions/checkout@v3
        with:
          repository: 'Cycling74/max-sdk-base'
          path: "max-sdk-base"
      - uses: actions/checkout@v3
        with:
          path: "ah-externals"
      - run: xcodebuild -project 'ah-externals/AH Externals.xcodeproj' -scheme 'utility' -destination 'platform=OS X,arch=x86_64' -configuration Deployment build CODE_SIGNING_ALLOWED=YES
      - run: |
             mkdir build/
             cd ah-externals/AH_Externals_Package/
             zip -r ../../build/AHarker_Externals_Mac.zip AHarker_Externals
      - uses: "softprops/action-gh-release@v1"
        with:
          prerelease: true
          fail_on_unmatched_files: true
          files: build/AHarker_Externals_Mac.zip
          target_commitish: ${{ github.sha }}
          tag_name: latest-${{ steps.date.outputs.date }}
          body: This is an automated build of AHarker Externals
    