name: build-github
on: [push]
env: 
  WIN_ONEAPI: https://registrationcenter-download.intel.com/akdlm/IRC_NAS/18674/w_BaseKit_p_2022.2.0.252_offline.exe
jobs:
  deploy-win:
    runs-on: windows-latest
    steps:
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
      - name: Install oneMKL / oneAPI
        run: |
             cd ${{ runner.temp }}
             mkdir installer
             cd installer
             curl.exe $env:WIN_ONEAPI --output oneapi_install.exe
             oneapi_install.exe -s -a --silent --eula accept
      - name: Checkout max-sdk-base
        uses: actions/checkout@v3
        with:
          repository: 'Cycling74/max-sdk-base'
          path: "max-sdk-base"
      - name: Checkout main repo
        uses: actions/checkout@v3
        with:
          path: "ah-externals"
      - name: Build windows externals
        run: msbuild "ah-externals/AH Externals.sln" /p:configuration="Release" /p:platform=x64 /v:q /clp:ErrorsOnly /nologo /m
  deploy-mac:
    if: ${{ false }}
    runs-on: macos-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Checkout max-sdk-base
        uses: actions/checkout@v3
        with:
          repository: 'Cycling74/max-sdk-base'
          path: "max-sdk-base"
      - name: Checkout main repo
        uses: actions/checkout@v3
        with:
          path: "ah-externals"
      - name: Build mac externals
        run: xcodebuild -project 'ah-externals/AH Externals.xcodeproj' -scheme 'AH Externals' -destination 'platform=OS X,arch=x86_64' -configuration Deployment -quiet build CODE_SIGNING_ALLOWED=YES
      - name: Make zip
        run: |
             mkdir build/
             cd ah-externals/AH_Externals_Package/
             zip -r ../../build/AHarker_Externals_Mac.zip AHarker_Externals
      - name: Make release
        uses: "softprops/action-gh-release@v1"
        with:
          prerelease: true
          fail_on_unmatched_files: true
          files: build/AHarker_Externals_Mac.zip
          target_commitish: ${{ github.sha }}
          tag_name: latest-${{ steps.date.outputs.date }}
          body: This is an automated build of AHarker Externals
    